@font-face {
    font-family: 'Roboto';
    src: url('../Ressources/Fonts/Roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-size: normal;
}

@font-face {
    font-family: 'JurassicPark';
    src: url('../Ressources/Fonts/Jurassic_Park.woff2') format('woff2');
    font-weight: normal;
    font-size: normal;
}

.hidden {
    display: none;
}

h1 {
    text-decoration: underline;
    font-weight: normal;
    color: orangered;
    font-family: 'JurassicPark';
    font-size: 12vh;
    text-align: center;
    margin-top: 2vh;
}

.rectangle {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);
    z-index: -1;
}

body {
    transition: filter 0.3s ease;
    background-color: rgb(47, 47, 47);
    background-image: url('../Ressources/Images/Jurassic_World_Copilot_2.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    font-size: 2.5rem;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0;
}

h3 {
    font-size: 2rem;
    font-weight: normal;
    color: white;
    text-align: center;
    margin-top: 2vh;
}

.comment {
    font-family: 'Roboto';
    font-size: 1.5rem;
    font-weight: normal;
    color: white;
    margin: 20px auto; /* Ajout de marges auto pour centrer horizontalement */
    max-width: 80%; /* Optionnel : limiter la largeur des commentaires */
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.3); /* Fond semi-transparent pour les commentaires */
    border-radius: 8px;
}

#contentCom {
    text-align: center;
    margin-top: 2vh;
}

#commentForm {
    text-align: center;
    margin-top: 2vh;
}

.buttons {
    box-shadow: inset 0px 38px 19px -34px #ff4000;
    background: linear-gradient(to bottom, #1f2228 5%, #1f2228 100%);
    background-color: #1f2228;
    border-radius: 8px;
    border: 1px solid #ff4000;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 10px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #000000;
    position: relative;
}

.buttons:hover {
    background: linear-gradient(to bottom, #303133 5%, #373b4a 100%);
    background-color: #303133;
}

.buttons:active {
    position: relative;
    top: 1px;
}