<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/about.css">
    
    <title>Info</title>
</head>
<body>
<div class="rectangle"></div>
    <div class="navbar">
        <a href="/" class="buttons">Retour</a>
        <a style="margin-left: 8vh;color: black;" href="/login">LOG IN </a>
        <div class="search-container">
            <input type="text" placeholder="Search.." name="search">
        </div>
        <div class="dropdown_notif">
            <select>
                <option value="home">Notif</option>
                <option value="page1">...</option>
                <option value="page2">...</option>
                <option value="page3">...</option>
            </select>
        </div>
    </div>
    <h1>Fondateur</h1>
    <div class="founders-images">
        <img src="../Ressources/Images/dylan profile.jpg" alt="Fondateur 1">
        <img src="../Ressources/Images/flo profile.jpg" alt="Fondateur 2">
        <img src="../Ressources/Images/Louis Profile.jpg" alt="Fondateur 3">
        <img src="../Ressources/Images/Quentin Profile.jpg" alt="Fondateur 4">
    </div>
</body>
</html>